.reportContainer{
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 1rem;
}
.searchContainer{
    flex-direction: column;
}

.searchForm{
    display: flex;
    padding: 1rem;
    /* flex-direction: column; */
    align-items: center;
}

#searchLabel{
font-weight: 300;
font-size: 25px;
}
#searchInput{
    height: 3rem;
max-width: 200px;

}
#searchBtn{
    height: 3rem;
max-width: 100px;
margin: 0;
margin-left: 1rem;
}