.content {
  height: 85vh;
  width: 100vw;
}
.homeContainer{
  height: 100%;
  width: 100vw;
  background-color: rgb(32, 53, 73);
}

.mapContainer {
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#prompt {
  font-size: 30px;
  padding: 1rem;
  color: #fff;
}
