.deskNav{
  width: 100%;
  color: #fff;
  
}

.mobNav .navLinks {
  display: none;
  flex-direction: column;
  position: absolute;
  padding-top: 50px;
  top: 0;
  right: 0;
  width: 100%;
  height: 35vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 50;
}

.mobNav .links, .deskNav .links{
  padding: 1rem;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  text-align: center;
}

.deskNav .navLinks {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
}

.links:hover {
  color: rgb(255, 0, 0);
}

.selected {
  color: rgb(253, 249, 0) !important;
}

.icon {
  display: none;
  position: absolute;
  top: 2%;
  right: 5%;
  font-size: 1.5rem;
  color: rgb(255, 0, 0);
  z-index: 100;
}

@media (max-width: 700px){
  .deskNav {
    display: none;
  }
  .icon, .mobNav .navLinks{
    display: flex;
  }
}